.env
.env.*
!.env.example
.git
.gitignore
.gitattributes
.editorconfig
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
public/storage
tests
.phpunit.result.cache
*.md
create-superuser.cjs
Procfile
